.row {
    top: 10px!important;
}

.search {
    border-style: none!important;
    border-radius: 2px;
}

.search:focus {
    outline: none!important;
}

.nav-contaier {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    margin-left: 10rem!important;
}

.div {
    height: 100%;
    width: 95%;
    margin: auto;
    cursor: pointer;
}

.login-btn {
    width: 7rem;
    border-radius: none;
    color: rgb(0 123 255)!important;
    font-weight: 500!important;
    padding: 4px 0px;
}

.more {
    margin-top: 6px!important;
}

.nav-divs {
    margin-left: 3rem!important;
}

/* tippy */

.tippy-div div {
    padding: 10px 10px 10px 10px;
    width: 10rem;
}

.tippy-div div:hover {
    background-color: #f1f3f6;
}

.tippy-div div>i {
    margin-right: 10px;
    color: #007bff;
}

@media (min-width:0px) and (max-width:767px) {
    .navbar-2nd-div {
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .nav-divs {
        margin-left: 1rem!important;
    }
}